/* univerisal sytle */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* header styles */

header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  order: 1;
}


#logo  {
  flex-grow: 1;
  display: flex;
  padding-left: 10px;
}

nav span {
  justify-content: space-around;
  padding-right: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}
/* wrapper */

.wrapper {
  display: flex;
  flex-direction: column;
}

/* Our Mission Section */
.mission {
  order: 2;
  height: 700px;
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
  margin: 70px auto 0 auto;
  align-items: center;
  background-image: url("./pics/background.jpg");
}

.title {
  background-color: black;
  width: 1200px;
}
span {
  width: 1200px;
  background-color: black;
}

/* Tea of the Month Section */

.month {
  order: 3;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading h2 {
  padding-top: 30px;
}

.heading h4 {
  padding-bottom: 20px;
}

.heading span {
  height: 90px;
}

.teas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.teas img {
  height: 200px;
  width: 300px;
  padding-right: 20px;
}

/* Locations Section */

.locations {
  order: 4;
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-image: url("./pics/location.jpg");
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 980px;
}

.box1 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  background-color: black;
}

.box2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  background-color: black;
}

.box3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  background-color: black;
  opacity: 1;
}

/*footer*/

footer {
  height: 240px;
}

.box span {
  width: 300px;
}

#copyright h5 {
  text-align: left;
  padding-left: 20px;
}
