/* univerisal sytle */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header styles */

header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
}


#logo  {
  flex-grow: 1;
  display: flex;
  padding-left: 10px;
}

nav span {
  justify-content: space-around;
  padding-right: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}
/* main image Our Mission */
